# Node (React)
codie-chat/node_modules/
codie-chat/dist/
codie-chat/.env*
.vite/

# Python (FastAPI)
codie/__pycache__/
codie/.venv/
codie/env/
codie/*.log
codie/*.db

# Docker
.docker/
*.tar
*.img
*.log

# System
.DS_Store

# IDE
.vscode/
.idea/

